<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата успешна</title>
    <link rel="icon" type="image/png" href="9b9t/images/ic.png">
    <link rel="stylesheet" href="success.css">
</head>
<body>
    <div class="success-container">
        <h1>Оплата прошла успешно!</h1>
        <p>Спасибо за ваш заказ. Мы свяжемся с вами в ближайшее время.</p>
        <button id="returnHome">Вернуться на главную</button>
    </div>

    <script src="success.js"></script>
</body>
</html>
